<template name="lost">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 id="navTitle" class="title">Lost</h1>
    {{> menuButton}}    
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      
      <div class="row">
          <div class="col">
              <p>Lost</p>
              <!-- Feature not ready -->
          </div>
      </div>
           
    {{/ionContent}}
  {{/ionView}}

</template>
