<template name="lost">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Lost</h1>
    {{> menuButton}}    
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      
      <div class="row">
          <div class="col">
              <p>Lost</p>
                <div class="input-group datetimepicker">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input class="set-due-date form-control" type="text"/>
                    
                    <!-- device default date selector? -->
                    <input type="date">
                    
                </div>
          </div>
      </div>
           
    {{/ionContent}}
  {{/ionView}}

</template>
