html, body {
    background-color: $black;
    color: $white;
    font-family: Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

h1 {
    font-size: $font-xxl;
    @media (max-width: $mobile-width){
        font-size: $font-xxl * 0.5;
    }
}
h2 {
    font-size: $font-xl;
    @media (max-width: $mobile-width){
        font-size: $font-xl * 0.5;
    }
}
h3 {
    font-size: $font-large;
    @media (max-width: $mobile-width){
        font-size: $font-large * 0.7;
    }
}
h4 {
    font-size: $font-medium;
    @media (max-width: $mobile-width){
        font-size: $font-medium * 0.9;
    }
}
h5 {
    font-size: $font-small;
    @media (max-width: $mobile-width){
        font-size: $font-small * 0.9;
    }
}
h6 {
    font-size: $font-xs;
    @media (max-width: $mobile-width){
        font-size: $font-xs * 0.9;
    }
}

p { font-size: 14px; }

a, a:link, a:active, a:visited, a:focus {
    text-decoration: none;
    color: $grey-dark;
}

a:hover {
    text-decoration: underline;
    color: $green;
    @media (max-width: $mobile-width){
        text-decoration: none;
        color: $grey-dark;
    }
}

button {
    outline: none;
    border: none;
    padding: 0;
}

textarea {
    resize: vertical;
    min-height: 95px;
}

.default-container {
    max-width: $site-max;
    margin: 0 auto;
    padding: 0 20px;
    background-color: $black;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

#navTitle.title.title-left {
    text-align: center;
}

#map-canvas { 
    height: 100%;
    width: 100%;
}