/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/08/2015, 5:20:12 PM
    Author     : craigmacgregor
*/

/* COLORS */
$white: #FFF;
$grey-light: #F5F5F5;
$grey: #c7c5c5;
$grey-dark: #828282;
$black: #000;
$blue: #19428B;
$blue-dark: #0F2B66;
$green-light: #1ABC9C;
$green-dark: #3da48b;
$yellow: #F9B717;
$green: #46bfa2;
$orange: #F16A2C;
$purple: #5E419B;

/* SIZES */
$mobile-width: 768px;
$mobile-height: 480px;
$site-max: 1055px;

/* FONTS */
$font-xxl: 106px; 
$font-xl: 42px; 
$font-large: 24px; 
$font-medium: 16px; 
$font-small: 14px; 
$font-xs: 12px; 
$font-xxs: 10px;