<template name="appLayout">
  {{#ionBody}}

    {{#ionSideMenuContainer side="right"}}

      {{#ionSideMenus}}

        {{#ionSideMenu}}

        {{/ionSideMenu}}

        {{#ionSideMenu side="right"}}
          {{> sideMenu}}
        {{/ionSideMenu}}

      {{/ionSideMenus}}        

        {{#ionSideMenuContent}}

        {{> ionNavBar class="bar-positive"}}

        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}

      {{/ionSideMenuContent}}

    {{/ionSideMenuContainer}}

  {{/ionBody}}
</template>