<template name="faqs">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Faq</h1>
  {{/contentFor}}

  
  
  {{#ionView}}
    {{#ionContent}}
   

    
        <ul>
         {{#each tasks}}
            {{> task}}
          {{/each}}
        </ul>
    {{/ionContent}}
  {{/ionView}}

</template>


<template name="task">
  <li>
      <button class="btn btn-primary full-width" type="button" data-toggle="collapse" data-target="#{{_id._str}}">
        {{title}}
      </button>
      
      <div class="collapse" id="{{_id._str}}">
        <div class="well">
          <p>{{description}}</p>
          <img src="{{image}}" />
        </div>
      </div>
      
  </li>
</template>