<head>
  <title>Northern Bass</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <link rel="apple-touch-icon" sizes="57x57" href="/icon/ios/icon.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icon/ios/icon-2x.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icon/ios/icon-72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icon/ios/icon-72-2x.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icon/ios/icon-60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icon/ios/icon-60-2x.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icon/ios/icon-76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icon/ios/icon-76-2x.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icon/ios/icon-60-3x.png">
  <link rel="icon" type="image/png" href="/icon/favicon/Icon-xxxhdpi.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/icon/favicon/icon-160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/icon/favicon/icon-96-xhdpi.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/icon/favicon/Icon-16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/icon/favicon/Icon-32.png" sizes="32x32">

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/icon/ios/icon-72-2x.png">

  <meta name="theme-color" content="#DE4F4F" />
  <meta name="mobile-web-app-capable" content="yes">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Northern Bass">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuOq0OzDgOXMPof4Da1UetaKa7coSXgq0">
    </script>
    <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>   
</head>

<body>

</body>
