<template name="news">

    <li class="panel-news">
        <button class="panel-news-heading full-width" type="button" data-toggle="collapse" data-target="#{{_id}}" style="background-color:#{{bgColour}};">
            {{#if titleColour}}
                <span style="color:#{{titleColour}}">{{name}} {{> ionIcon icon='chevron-down'}}</span>

            {{else}}
                {{name}} {{> ionIcon icon='chevron-down'}}

            {{/if}}
            
        </button>

        <div class="collapse no-transition" id="{{_id}}">
            <div class="panel-news-body">
                <p class="news-description">{{{description}}}</p>
                <img class="news-image" src="{{image.image}}" />
            </div>
        </div>

    </li>

</template>