<template name="newsItem">

    <li class="panel-news">
        <button class="panel-news-heading full-width" type="button" data-toggle="collapse" data-target="#{{_id}}">{{title}} {{> ionIcon icon='chevron-down'}}
        </button>

        <div class="collapse no-transition" id="{{_id}}">
            <div class="panel-news-body">
                <p class="news-description">{{{description}}}</p>
                <img class="news-image" src="{{image}}" />
            </div>
        </div>

    </li>

</template>