<template name="artistDropdown">
	<div class="container">
		<div class="row">
		  <div class="col-xs-6">
				<img class="artist-pic" src="images/artists/skepta.jpg">
		  </div>
		  <div class="col-xs-6">
		  	<p class="artist-bio">
		  		Spitting on hip-hop beats before he ever entered the booth in grime circles, Skepta unleashed his rapid flow in the mid 2000s. As the white label era shifted into flash video and digital downloads, he built a sizeable fan base. Shouting out Meridian Crew and Hackney’s Roll Deep he stepped to the forefront alongside his brother, in the era of pixelated video on Nokia devices, street DVDs and Akademiks sweatsuits.
		  	</p>
		  </div>
		</div>
	</div>
</template>