<template name="timetable">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">TIMETABLE</h1>
    {{> menuButton}}    
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}


      <div class="row no-gutters">
        <div class="col-xs-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="timetable" role="tablist">
              <li role="presentation" class="active">
                <a href="#mainStage" aria-controls="mainStage" role="tab" data-toggle="tab">MAIN STAGE</a>
              </li>

              <li role="presentation">
                <a href="#jungleStage" aria-controls="jungleStage" role="tab" data-toggle="tab">JUNGLE STAGE</a>
              </li>

              <!--
              <li role="presentation">
                <a href="#thirdStage" aria-controls="thirdStage" role="tab" data-toggle="tab">THIRD STAGE</a>
              </li>
              -->              
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="mainStage">

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                  <div class="panel panel-artist">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <div class="panel-heading" role="tab" id="headingOne">

                        <h3 class="panel-title artist">
                          SKEPTA
                        </h3>
                      </div>
                    </a>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        {{> artistDropdown}}
                      </div>
                    </div>
                  </div>

                </div>

              </div>

              <div role="tabpanel" class="tab-pane" id="jungleStage">
                <p>JUNGLE</p>
              </div>

              <!--
              <div role="tabpanel" class="tab-pane" id="thirdStage">
                <p>THIRD</p>
              </div>
              -->              
            </div>

          </div>         
        </div>
    {{/ionContent}}
  {{/ionView}}

</template>
