<template name="timetable">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button button-clear pull-left" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 id="navTitle" class="title">Timetable</h1>
    {{> menuButton}}    
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="row no-gutter">
        <div class="col-xs-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="timetable" role="tablist">
              <li role="presentation" class="active">
                <a href="#mainStage" aria-controls="mainStage" role="tab" data-toggle="tab">MAIN STAGE</a>
              </li>

              <li role="presentation">
                <a href="#jungleStage" aria-controls="jungleStage" role="tab" data-toggle="tab">JUNGLE</a>
              </li>

              
              <li role="presentation">
                <a href="#thirdStage" aria-controls="thirdStage" role="tab" data-toggle="tab">OASIS</a>
              </li>
                           
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

              <div role="tabpanel" class="tab-pane active" id="mainStage">
                <ul>
                  {{#each stage1}}
                    {{> timeslot}}
                  {{/each}}
                </ul>
              </div>

              <div role="tabpanel" class="tab-pane" id="jungleStage">
                <ul>
                  {{#each stage2}}
                    {{> timeslot}}
                  {{/each}}
                </ul>
              </div>

              <div role="tabpanel" class="tab-pane" id="thirdStage">
                <ul>
                  {{#each stage3}}
                    {{> timeslot}}
                  {{/each}}
                </ul>
              </div>

            </div>

          </div>         
        </div>
    {{/ionContent}}
  {{/ionView}}

</template>
