<template name="timetable">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button button-clear pull-left" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 id="navTitle" class="title">Timetable</h1>
    {{> menuButton}}    
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}



      <div class="row no-gutter">
        <div class="col-xs-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="timetable" role="tablist">

              <li role="presentation">
                <a href="#29-Jungle" aria-controls="29-Jungle" role="tab" data-toggle="tab">29-Jungle</a>                
              </li>
              
              <li role="presentation">
                <a href="#30-Main" aria-controls="30-Main" role="tab" data-toggle="tab">30-Main</a>
              </li>      
                           
              <li role="presentation">
                <a href="#30-Jungle" aria-controls="30-Jungle" role="tab" data-toggle="tab">30-Jungle</a>
              </li>

              <li role="presentation">
                <a href="#31-Main" aria-controls="31-Main" role="tab" data-toggle="tab">31-Main</a>
              </li>                      

              <li role="presentation">
                <a href="#31-Jungle" aria-controls="31-Jungle" role="tab" data-toggle="tab">31-Jungle</a>
              </li>

              
              <li role="presentation">
                <a href="#31-Oasis" aria-controls="31-Oasis" role="tab" data-toggle="tab">31-Oasis</a>
              </li>                           
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

              <div role="tabpanel" class="tab-pane" id="29-Jungle">
                <ul>
                  {{#each stage3}}
                    {{> timeslot}}
                  {{/each}}
                </ul>
              </div>

              <div role="tabpanel" class="tab-pane" id="30-Main">
                <ul>
                  {{#each stage1}}
                    {{> timeslot}}
                  {{/each}}
                </ul>
              </div>

              <div role="tabpanel" class="tab-pane" id="30-Jungle">
                <ul>
                  {{#each stage4}}
                    {{> timeslot}}
                  {{/each}}
                </ul>
              </div>

              <div role="tabpanel" class="tab-pane" id="31-Main">
                <ul>
                  {{#each stage2}}
                    {{> timeslot}}
                  {{/each}}
                </ul>
              </div>
              
              <div role="tabpanel" class="tab-pane" id="31-Jungle">
                <ul>
                  {{#each stage5}}
                    {{> timeslot}}
                  {{/each}}
                </ul>
              </div>

              <div role="tabpanel" class="tab-pane" id="31-Oasis">
                <ul>
                  {{#each stage6}}
                    {{> timeslot}}
                  {{/each}}
                </ul>
              </div>              


              <div role="tabpanel" class="tab-pane active" id="selectStage">
                <h2 class="text-center">Select a stage</h2>
              </div>  

            </div>

          </div>         
        </div>


    {{/ionContent}}
  {{/ionView}}

</template>
