<template name="main">

  {{#contentFor "headerTitle"}}
    <h1 id="navTitle" class="title">Home</h1>
    {{> menuButton}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="container-fluid">
        <div class="row no-gutter" id="row-no-padding">
          <div class="col-xs-12">         
            
            <div class="home-slider">
              <div id="carousel">
                <div><img class="slide-bg" src="images/home.logo.v2.png"></div>
                <div><img class="slide-bg" src="images/home.logo.v2.png"></div>              
              </div>
            </div>

            <div class="panel-home-group" id="accordion" role="tablist" aria-multiselectable="true">

              <!--
              <div class="panel-home-heading">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <div class="panel-title" role="tab" id="headingOne">
                    <h3>
                      Currently Playing
                    </h3>
                  </div>
                </a>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    {{> nowPlaying}}
                  </div>
                </div>
              </div>
              -->

              <div class="panel-home-heading">
                <a class="panel-title" href="{{ pathFor 'timetable' }}"><h3>Timetable</h3></a>
              </div>              

              <div class="panel-home-heading">
                <a class="panel-title" href="{{ pathFor 'map' }}"><h3>Festival Map</h3></a>
              </div>

              <div class="panel-home-heading">
                <a class="panel-title" href="{{ pathFor 'vendors' }}"><h3>Vendors</h3></a>
              </div>

              <div class="panel-home-heading">
                <a class="panel-title" href="{{ pathFor 'faqs' }}"><h3>Faqs</h3></a>
              </div>

              <!-- Feature not ready 
              <div class="panel-home-heading">
                <a class="panel-title" href="{{ pathFor 'lost' }}"><h3>Lost</h3></a>
              </div>
              -->
              
              <div class="panel-home-heading">
                <a class="panel-title" href="{{ pathFor 'soundcloud' }}"><h3>SoundCloud</h3></a>
              </div>              
              
            </div>

          </div> 
        </div>
      </div>
    {{/ionContent}}
  {{/ionView}}

</template>