<template name="nowPlaying">
	<div class="container no-padding">
		<div class="row no-gutter">
		  <div class="col-xs-6 no-gutter">
				<h5 class="text-center">MAIN STAGE</h5>
				<img class="now-playing" src="images/artists/skepta.jpg">
				<p class="stage-time">18:30 - 20:00</p>
		  </div>
		  <div class="col-xs-6 no-gutter">
		  	<h5 class="text-center">JUNGLE STAGE</h5>
		  	<img class="now-playing" src="images/artists/shapeshifter.jpg">
				<p class="stage-time">18:00 - 19:30</p>		  	
		  </div>
		</div>
	</div>
</template>