<template name="soundcloud">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 id="navTitle" class="title">SoundCloud Playlist</h1>
    {{> menuButton}}    
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="row no-gutter">
        <div class="col-xs-12">
          <div id="soundcloudPlayer"></div>

<!--           <div class="panel-soundcloud-heading">
            <div class="panel-title">
              <a href="https://soundcloud.com/northernbass" target="_blank"><h3>Open SoundCloud</h3></a>
            </div>
          </div> -->

          <button id="playMix">Play</button>
          <button id="pauseMix">Pause</button>          

          <div class="player">
            <span class='info'></span>
            <div class="waveform"></div>
            <div class="position"></div>  
          </div>

          <iframe class="sc-widget" src="//w.soundcloud.com/player/?url=//soundcloud.com/internetsyd">
                </iframe>          
              
        </div>         
    	</div>        
    {{/ionContent}}
  {{/ionView}}

</template>
