/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/08/2015, 5:18:51 PM
    Author     : craigmacgregor
*/

#faq.nav {
  margin-bottom: 0px;
}

#faq.nav-tabs{
  background-color:#291c44;
  border: none;
}
#faq.tab-content{
    background-color:#000;
    color:#FFF;
    padding:5px;
}
#faq.nav-tabs > li > a{
  border: none;
  border-radius: 0px;
  color:#FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 17px;
}
#faq.nav-tabs > li > a:hover{
  background-color: #5e419b !important;
    border: none;
    border-radius: 0;
    color:#FFF;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #5e419b !important;
    color: #FFF !important;
    border: none;
}

.panel-faq i {
  float: right;
  padding-right: 10px;
}

.panel-faq-heading {
  background-color: $purple;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  color: $white;
  font-size: 1em;
}

.panel-faq-body {
  padding: 5px;
}

.faq-description {
  display: inline-block;
}

.faq-description ul {
    /*list-style-image: url('');*/
    list-style: none;
    padding: 0;
    margin: 0;
    text-indent: -25px;
}

.faq-description li { 
    padding-left: 20px;
}

.faq-description li:before {
    content: "❯"; /* Insert content that looks like bullets */
    padding: 8px;
    color: #5e419b;
    font-weight: bold;
    font-size: 1em;
}

.faq-image {
  float: left;
  display: inline-block;
  padding: 5px;
}