/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/08/2015, 5:18:26 PM
    Author     : craigmacgregor
*/

.panel-home {
}

.panel-home .panel-heading {
	background-color: $purple;
	text-align: center;
	text-transform: uppercase;
	padding-top: 7px;
	padding-bottom: 1px;
	margin-bottom: 2px;
}

.panel-home .panel-title a {
	color: $white;
}

.panel-home .panel-body {
	padding: 5px;
}

.home-logo {
	background-image: url('images/home.bg.jpg');
	background-position: top center;
	
}