/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/08/2015, 5:18:26 PM
    Author     : craigmacgregor
*/

.panel-home {
}

.panel-home-heading {
	background-color: $purple;
	text-align: center;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-bottom: 2px;
}

.panel-home-heading a.panel-title > h3 {
	color: $white;
	font-size: 1em;
}

.panel-home-heading .panel-body {
	padding: 5px;
	background-color: $black;
}

.home-slider {
	background-image: url('images/home.bg.height-860.jpg');
	background-position: middle center;
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 20px;
	padding-top: 20px;
}

.now-playing {
	padding: 5px;
	width: 100%;
}

.stage-time {
	text-align: center;
	font-size: 1em;
}

#carousel {
  border: none;
  width: 100%;
  position: relaitve;
}

#carousel div {
  width: 100%;
}

.slick-prev:before, .slick-next:before {
  color: silver;
}