/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 23/08/2015, 5:18:32 PM
    Author     : craigmacgregor
*/
#map.nav {
  margin-bottom: 0px;
}

.map-tab-wrap{
  padding-left:0!important;
  padding-right:0!important;
}

#map.nav-tabs{
  margin-top:0;
  background-color:none;
  border-bottom:solid 4px #5E419B;
  li{
    margin:5px 0 0 10px;
  }
}

#map.tab-content{
    background-color:#000;
    color:#FFF;
    padding:5px;
}

#map.nav-tabs > li > a{
  border: none;
  border-radius: 0px;
  color:#FFF;
  padding:10px 20px;
  font-size:14px;
}

#map.nav-tabs > li > a:hover{
  background-color: #5e419b !important;
    border: none;
    border-radius: 0;
    color:#FFF;
}


#map-canvas{
	position: fixed!important;
	height:100%;
	width:100%;
}

.get-directions{
  color:#333;
  margin-bottom:0;
  a{
    color:#FF9D00;
    text-decoration:underline;
  }
}
