/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/08/2015, 5:18:51 PM
    Author     : craigmacgregor
*/

#timetable.nav {
  margin-bottom: 0px;
}

#timetable.nav-tabs{
  background-color:#291c44;
  border: none;
}
#timetable.tab-content{
    background-color:#000;
    color:#FFF;
    padding:5px;
}
#timetable.nav-tabs > li > a{
  border: none;
  border-radius: 0px;
  color:#FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 17px;
}
#timetable.nav-tabs > li > a:hover{
  background-color: #5e419b !important;
    border: none;
    border-radius: 0;
    color:#FFF;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #5e419b !important;
    color: #FFF !important;
    border: none;
}

.panel-artist {
}

.panel-artist-heading {
  background-color: $purple;
  text-transform: uppercase;
  padding-top: 14px;
  padding-left: 7px;
  padding-bottom: 6px;
  margin-bottom: 2px;
}

.panel-artist-body {
  padding: 5px;
}

.artist-profie-description {
  display: inline-block;
}

.artist-profile-image {
  float: left;
  display: inline-block;
  padding: 5px;
}

#artistInfo.button {
  color: #FFF;
}

#artistFavourite.button {
  color: #FFF;
}

#artistSoundCloud.button {
  color: #FFF;
}

.soundcloud {
  width: 64px;
}

.fav {
  color: red;
}